.rx-results .node-details
  .tabs-left
    display: flex
    justify-content: space-between
    align-items: flex-start
  // Lotta work here to match up colors to the chart above
  // Essentially anything one clicks on that leads to another node
  // (i.e. tab headings, links in data)
  // will be the color of an unselected note
  // The currently selected tab heading is the same color as a selected note
  // Genius!
  a
    color: $brand-danger

  .nav-pills
    width: 20%
    display: inline-block
    > li
      > a:hover
        background-color: $brand-danger
        color: $text-color
      &.active
        > a
          color: $text-color
          &:hover
            background-color: $brand-danger
  .uib-tab
    a
      color: $brand-danger
    &.active a
      color: $brand-primary

  .tab-content
    width: 79%
    display: inline-block
    td
      border-top: none
