// Technically this file should be nothing but imports
@import 'variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'details';

// Angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// UI bootstrap
.nav, .pagination, .carousel, .panel-title, a { cursor: pointer; }

nav.navbar.navbar-default {
  font-family: 'Signika', 'Roboto', sans-serif;
  background-color: $brand-primary;

  margin-bottom: 0;
  border-bottom: none;

  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);

  .navbar-right {
    margin-right: 15px;
  }

  .navbar-brand:hover {
    color: #ddd;
  }

  .rx-logo {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    height: 46px;
    vertical-align: bottom;
    margin-left: 15px;
    margin-right: 5px;
    margin-top: 2px;
  }
}

// Editor section
.rx-input {
  height: 100%;

  .save-result {
    input {
      color: $brand-warning;
      background-color: $body-bg;
      border: none;
      margin-left: 10px;

      &:focus {
        outline: 0 !important;
      }
    }
  }

  .editor-controls {
    margin: 20px 10px;

    .btn {
      margin-right: 5px;
    }
  }

  textarea.rx-input-operators {
    height: 250px;
  }
}

.rx-results {
  flow-list {
    height: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: scroll;

    flow-render {
      transform: scale(0.5);
      flex-grow: 1;
    }
  }


  .main-view {
    flow-render {
      display: block;
    }
    canvas {
      height: 400px;
      width: 100%;
      &:focus {
        outline: 0 !important;
      }
    }
  }
}

#midline {
  position: fixed;
  left: 5px / 12px * 100%;
  top: 0;
  bottom: 0;
  width: 1px;
  z-index: 1;
  background-color: $text-color;
}
