.col-xs-12.node-details
  uib-tabset.tabs-left(active='$ctrl.activeNode', vertical='true', type='pills')
    uib-tab(index='$index', ng-repeat='node in $ctrl.flowRunner.activeGroup.nodes')
      uib-tab-heading {{ node.name }} (id: {{ node.id }})
      .row
        .col-xs-5.col-xs-offset-1
          h3 Received values
          .row(ng-repeat='datum in $ctrl.flowHistory.nodeReceived[node.id] track by $index')
            | {{($index+1) + ') ' }} Emitted from&nbsp;
            a(ng-click='$ctrl.activeNode = datum.conf.source.id') {{ datum.conf.source.name }} ({{ datum.conf.source.id }})
            pre.
              {{ datum.args[0] | json | limitToEllipsis }}
          div(ng-show='!$ctrl.flowHistory.nodeReceived[node.id] || !$ctrl.flowHistory.nodeReceived[node.id].length')
            div(ng-if="node.name === 'constructor'") Constructors don't receive data
            div(ng-if="node.name !== 'constructor'") Nothing yet
        .col-xs-5
          h3 Emitted values
          .row(ng-repeat='datum in $ctrl.flowHistory.nodeEmitted[node.id] track by $index')
            | {{($index+1) + ') ' }} Sent to&nbsp;
            a(ng-click='$ctrl.activeNode = datum.conf.dest.id') {{ datum.conf.dest.name }} ({{ datum.conf.dest.id }})
            pre.
              {{ datum.args[0] | json | limitToEllipsis }}
          div(ng-show='!$ctrl.flowHistory.nodeEmitted[node.id] || !$ctrl.flowHistory.nodeEmitted[node.id].length')
            div(ng-if="node.name === 'subscribe'") Subscribers don't emit data
            div(ng-if="node.name !== 'subscribe'") Nothing yet
    uib-tab(index='$ctrl.flowRunner.activeGroup.nodes.length', heading='console')
      .row(ng-show='!$ctrl.mockConsole.logHistory.length')
        .col-xs-10.col-xs-offset-1 Nothing logged yet...
      .row(ng-show='$ctrl.mockConsole.logHistory.length')
        .col-xs-10.col-xs-offset-1
          table.table.table-condensed
            tbody
              tr(ng-repeat='item in $ctrl.mockConsole.logHistory')
                td
                  code(ng-repeat='arg in item.args') {{ arg | json | limitToEllipsis }}
