.row(ng-if='$ctrl.flowRunner.groups.length > 1')
  flow-list.col-xs-12
hr(ng-if='$ctrl.flowRunner.groups.length > 1')
.row.main-view
  flow-render.col-xs-12(
    group='$ctrl.flowRunner.activeGroup'
    active-node='$ctrl.activeNode'
    is-main='true'
    ng-if='$ctrl.flowRunner.activeGroup !== undefined'
  )
hr
.row(ng-if='$ctrl.flowRunner.activeGroup !== undefined')
  node-details(active-node='$ctrl.activeNode')
