.editor-controls
  .btn-group(uib-dropdown)
    button.btn.btn-info.dropdown-toggle(
      type='button'
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      uib-dropdown-toggle
    )  Examples&nbsp;
      span.caret
      span.sr-only Toggle Dropdown
    ul.dropdown-menu(uib-dropdown-menu)
      li
        a(ng-click="EC.loadPreset('sync')") Sync
      li
        a(ng-click="EC.loadPreset('async')") Async
      li.disabled
        a(ng-click="EC.loadPreset('websocket')") Websocket
      li
        a(ng-click="EC.loadPreset('multiFlow')") Split Middle
      li
        a(ng-click="EC.loadPreset('parallel')") Parallel streams
      li
        a(ng-click="EC.loadPreset('multiSub')") One to Many
      li
        a(ng-click="EC.loadPreset('nto1')") Many to One
      li
        a(ng-click="EC.loadPreset('nton')") Many to Many

  button.btn.btn-warning(ng-click='EC.saveService.saveState(EC.flow)') Save

  button.btn.btn-success(ng-click='EC.flowRunner.runFlow(EC.flow)') Run

.save-result(ng-if='EC.saveService.shortURL')
  input(ng-model='EC.saveService.shortURL' select-on-init)

.alert.alert-danger(role='alert', ng-if='EC.flowRunner.parseError') Uncaught SyntaxError: {{ EC.flowRunner.parseError.message }}

textarea.form-control.rx-input-operators(ng-model='EC.flow')
