.render-container(ng-repeat='group in $ctrl.flowRunner.groups')
  flow-render(
    group='group'
    is-main='false'
    ng-click='$ctrl.flowRunner.activeGroup = group'
    ng-class='{selected: $ctrl.flowRunner.activeGroup === group}'
  )
